* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    margin: 0; padding: 0;
    justify-content: center;
    background-color: #000000;
}

.wheel-container {
    display: flex;
    position: relative;
    border-radius: 10%;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-position-x: 70%;
    width: 300px; height: 300px;
    background-image: url("images/texture.webp");
}

.wheel {
    color: #ffffff;
    font-family: sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 40%;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    background-color: #000000;
    width: 250px; height: 250px;
    border: 15px solid #000000;
}

.wheel div {
    width: 55%;
    height: 55%;
    bottom: 50%;
    left: 22.5%;
    padding: 10%;
    display: flex;
    position: absolute;
    justify-content: center;
    transform-origin: bottom;
    transform: translateX(-50%);
    clip-path: polygon(100% 0, 50% 100%, 0 0);
}


.wheel .one {
    left: 50%;
    background-color: #ff0000;
}

.wheel .two {
    transform: rotate(51deg);
    background-color: #ff7f00;
}

.wheel .three {
    transform: rotate(102deg);
    background-color: #ffff00;
}

.wheel .four {
    transform: rotate(154deg);
    background-color: #00ff00;
}

.wheel .five {
    transform: rotate(205deg);
    background-color: #0000ff;
}

.wheel .six {
    transform: rotate(257deg);
    background-color: #4b0082;
}

.wheel .seven {
    transform: rotate(308deg);
    background-color: #9400d3;
}

.spin {
    left: 36%;
    bottom: 36%;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    background-size: cover;
    width: 30%; height: 30%;
    justify-content: center;
    border: 10px solid #fff;
    background-color: #e2e2e2;
    background-image: url("images/logo.jpg");
}

.arrow {
    top: -10%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    border-top: 15px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.attempts {
    bottom: -10%;
    color: #fff;
    position: absolute;
    font-weight: bold;
}

.blur-animation {
    filter: blur(2px);
    transition: filter 2s ease-out;
}